<div class="header sm:flex sm:flex-row ">
<div class="content flex items-center justify-start p-2 text-sm font-medium text-gray-400 px-2 gap-12 bg-gray-200 w-[85%] sm:w-[42%] lg:w-[40%] m-auto my-2  rounded-3xl ">
    <p class="px-4">Search Post Here</p>
    <fa-icon [icon]="faSearch" class="text-sm ml-auto px-4"></fa-icon>
</div>
<div class="noti sm:w-[250px] flex my-2 items-center mx-9 sm:mx-3 gap-4 ">
    <div class="bluBtn cursor-pointer lg:-ml-8 sm:ml-3 ml-auto bg-orange-600 sm:h-fit w-24 sm:w-12 lg:w-24 rounded-2xl  items-center gap-3  h-8  flex justify-center text-center p-2 text-white">
        <fa-icon [icon]="faPlus" class="text-[12px]"></fa-icon>
        <p class="text-sm sm:hidden lg:flex">Post</p>
    </div>
    <fa-icon [icon]="faBell" class="text-md mt-2 hidden sm:flex "></fa-icon>
    <div class="ro hidden sm:flex gap-3">
        <img src="assets/avatar3.jpg" class="rounded-3xl w-8 h-7 mt-2" alt="Nam">
        <div class="info text-[12px] text-gray-400 mt-1">
            <p>Kazeie Ladasia</p>
            <p>IDAN GG!</p>
        </div>
    </div>
</div>
</div>
