<div class="header sm:flex sm:flex-row mt-5 mx-6 sm:mx-10 lg:mx-12 sm:w-[90%] ">
<div class="content flex items-center justify-start sm:ml-0  p-2 text-sm bg-white border-[1.5px] border-gray-400 font-medium text-gray-400 px-2 gap-12 w-[100%] sm:w-[50%]  m-auto my-2  rounded-3xl ">
    <p class="px-4">Search Post Here</p>
    <fa-icon [icon]="faSearch" class="text-sm ml-auto px-4"></fa-icon>
</div>
<div class="sm:flex my-2 items-center px-2 hidden justify-end gap-6 ">
    <div class="bluBtn cursor-pointer gap-2  sm:ml-3  bg-blue-800 sm:h-fit w-24  lg:w-24 rounded-2xl  items-center gap   h-8  flex justify-center text-center p-2 text-white">
        <fa-icon [icon]="faPlus" class="text-[12px]"></fa-icon>
        <p class="text-sm ">Post</p>
    </div> 
    <fa-icon [icon]="faBell" class="text-md mt-2 hidden sm:flex  text-gray-500"></fa-icon>
    <fa-icon [icon]="faCog" class="text-md mt-2 hidden sm:flex  text-gray-500"></fa-icon>
</div>
</div>
