<app-header></app-header>
<section class=" relative overflow-y-scroll  w-[100%] overflow-x-clip">
<div
class="header flex p-3 sm:p-0 flex-col sm:flex-row justify-between  border-2 border-gray-200 rounded-md sm:border-none  mt-8 mx-6 sm:mx-10 lg:mx-12 sm:w-[90%]"
>
<div
  class="wrap flex  flex-col sm:flex-row justify-center items-center  gap-3"
>
  <img
    src="assets/avatar3.jpg"
    class="w-12 h-12 sm:w-[68px] sm:h-[68px] rounded-3xl sm:rounded-[90px]"
    alt=""                                                                                               
  />
  <div class="item my-3 sm:my-1">
    <p class="text-md font-medium">@Himmie</p>
    <p class="text-sm hidden sm:flex font-medium text-gray-400">
      Daya Ladhazia
    </p>
    <p class="text-sm hidden sm:flex font-medium text-gray-400">
      Biggest Dev JSYK.
    </p>
  </div>
</div>
<div class="flex justify-around sm:justify-between sm:w-[65%]">
<div class="">
  <div class="main flex gap-2 font-medium">
    <fa-icon
      [icon]="faArrowAltCircleDown"
      class="hidden mt-[3px] sm:flex text-base text-black"
    ></fa-icon>
    <p class="text-sm font-medium text-gray-400">Following</p>
  </div>
  <div class="item">
    <p class="flex justify-center sm:justify-start sm:text-2xl font-medium sm:font-semibold mt-1">4200</p>
    <p class="text-sm text-gray-400 sm:flex hidden">
      <span class="text-blue-700 text-sm">20%-</span> ffg activity
    </p>
  </div>
</div>
<div class="">
  <div class="main flex  gap-2 font-medium">
    <fa-icon
      [icon]="faArrowAltCircleDown"
      class="hidden mt-[3px] sm:flex text-base text-black"
    ></fa-icon>
    <p class="text-sm font-medium text-gray-400">Followers</p>
  </div>
  <div class="item">
    <p class="flex justify-center sm:justify-start sm:text-2xl font-medium sm:ont-semibold mt-1">4200</p>
    <p class="text-sm text-gray-400 sm:flex hidden">
      <span class="text-blue-700 text-sm">20%-</span> ffg activity
    </p>
  </div>
</div>
<div class="">
  <div class="main flex  gap-2 font-medium">
    <fa-icon
      [icon]="faArrowAltCircleDown"
      class="hidden mt-[3px] sm:flex text-base text-black"
    ></fa-icon>
    <p class="text-sm font-medium text-gray-400">Activities</p>
  </div>
  <div class="item">
    <p class="flex justify-center sm:justify-start sm:text-2xl font-medium sm:ont-semibold mt-1">4200</p>
    <p class="text-sm text-gray-400 sm:flex hidden">
      <span class="text-blue-700 text-sm">20%-</span> ffg activity
    </p>
  </div>
</div>
</div>
</div>

</section>