.active{
   background-color: #fff;
   color: #1E40AF;
   height: 40px;
   align-items: center;
   width: 103px;
   border-radius: 2px;
   border-left: 5px solid #1E40AF;

}
body{
font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 920px) {
    .active{
        background-color: white;
        width: 93px;
    }
}
@media (max-width: 640px) {
    .active{
        background-color: transparent;
        width: 80px;
        color: white;
        border-left:none;
        
    }
}