<section class="bg-white h-[100vh] py-6 w-[235px] border-gray-100 border-r-2">
  <div class="wrapper">
    <div class="logo flex -ml-8">
      <img src="assets/s.png" alt="h" class="h-10" />
    </div>
    <div class="main flex justify-start pt-4">
      <ul class="mr-auto">
        <li class="text-black my-8" *ngFor="let data of navData">
          <a [routerLink]="[data.routelink]">
            <fa-icon
              [icon]="data.icon"
              class="px-8 text-base text-black"
            ></fa-icon>
            <span class="text-sm font-semibold text-black">{{
              data.label
            }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom mt-40 my-3 mx-8">
    <div class="profile flex border-t-2 border-b-2 p-3  border-b-gray-100 border-t-gray-100">
      <div class="">
        <img src="assets/s.png" alt="n" class="w-9 h-9 rounded-3xl bg-black">
      </div>
      <div class="other m-auto text-sm text-gray-400">
        <p>Badi Kiyan</p>
        <p>Tech bruh</p>
      </div>
    </div>
    <div
      class="flex mt-8 gap-4 bg-black w-[100%] p-3 rounded-md  text-white"
    >
      <h1 class="mx-1">Logout</h1>
      <fa-icon [icon]="faSignInAlt"></fa-icon>
    </div>
  </div>
</section>
