<section class="w-screen">
  <div class="all lg:flex lg:h-[100vh] lg:w-[100%] overflow-hidden">
    <div class="flex justify-center lg:my-auto lg:w-[100%] lg:mt-[60px]">
      <div class="main pt-7">
        <div class="flex justify-center lg:justify-start">
          <svg class="svg-icon w-8 h-8 lg:w-10 lg:h-10" viewBox="0 0 20 20">
            <path
              d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z"
            ></path>
          </svg>
        </div>
        <h1 class="font-semibold text-2xl flex justify-center lg:justify-start">Forgot Password</h1>
        <p class="flex justify-center lg:justify-start text-[12px] text-gray-600 font-light mt-1 ">
          Input your Details to continue from here!
        </p>
        <form class="" #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="rest block">
            <label>
              <p class="py-2 text-sm font-medium">Email:</p>
              <input
                class="border-black sm:w-[534px] w-[375px] h-8 block text-sm text-gray-500 p-2"
                type="email"
                placeholder="Email"
                name="email"
                #Email = "ngModel"
                [(ngModel)] = "forgotPasswordForm.email"
              />
              <b *ngIf= "Email && Email.invalid && Email.touched"> Input is invalid.. This field is required</b>
            </label>
              <label>
                <p class="py-2 text-sm font-medium">DOB:</p>
                <input
                  class="border-black sm:w-[534px] w-[375px] h-8 text-sm block text-gray-500 p-2"
                  type="date"
                  placeholder="Date"
                  name="dob"
                  [(ngModel)] = "forgotPasswordForm.email"
                  #DOB = "ngModel"
                />
                <b *ngIf= "DOB && DOB.invalid && DOB.touched"> Input is invalid.. This field is required</b>
              </label>
          </div>
          <p class="text-sm pt-3">
            Already have an account...<span class="font-medium">Sign In?</span>
          </p>
          <div class="btn flex justify-center">
            <button
            class="bg-blue-800 text-white px-3 py-1 sm:w-56 w-[378px] h-10 mt-3 rounded-[3px] disabled:bg-gray-400"
            type="submit"
            [disabled]="form.invalid"
          >
            Submit
          </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
